<nav class="flex bg-white">
    <div class="max-w-7xl mx-auto flex justify-between w-full">

        <div class="flex items-center">
            <div class="w-20 h-8">
                <img class="w-full h-auto" src="{{ site_identity:site_logo }}" alt="">
            </div>

            <ul class="flex p-4 items-center justify-center space-x-4">
                {{ nav include_home="true" }}
                    <li>
                        <a href="{{ url }}"
                           class="transition-all ease text-gray-300 hover:bg-gray-700 hover:text-white
                                block rounded-md px-3 py-2 text-base font-medium
                {{ if is_current || is_parent }} bg-gray-700 text-white{{ /if }}">

                            {{ title }}
                        </a>
                    </li>
                {{ /nav }}
            </ul>
        </div>

        <ul class="flex p-4 items-center justify-center space-x-4">
            <li>
                {{ partial:components/nav-link url="/login" text="login" }}
            </li>
            <li>
                {{ partial:components/nav-link url="/register" text="Register" }}
            </li>
        </ul>
    </div>
</nav>
