<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js" }}
    </head>
    <body class="bg-gray-100 font-sans leading-normal text-gray-800">
        <div id="navigation">
            {{ partial:components/nav }}
        </div>

        <div class="mx-auto lg:min-h-screen ">
            {{ template_content }}
        </div>

        {{ partial:components/footer }}
    </body>
</html>
